version: "3.7"

networks:
  mojaloop-net:
    name: mojaloop-net

services:
  reporting-events-processor-svc:
    networks:
        - mojaloop-net
    image: mojaloop/reporting-events-processor-svc:local
    build:
      context: ./
      dockerfile: ./Dockerfile
    volumes:
      - ./config:/opt/reporting-events-processor-svc/config
    user: root
    environment:
      - EVENT_STORE_DB_HOST=mongodb
      - EVENT_STORE_DB_PORT=27017
      - EVENT_STORE_DB_USER=
      - EVENT_STORE_DB_PASSWORD=
      - EVENT_STORE_DB_DATABASE=reporting
      - EVENT_STORE_DB_EVENTS_COLLECTION=reporting
      - KAFKA_BROKER_LIST=kafka:29092
      - KAFKA_TOPIC_EVENT=reporting_events_processor_consumer_group
      - KAFKA_CONSUMER_GROUP=reporting_events_processor_consumer_group
      - KAFKA_CLIENT_ID=topic-event
    depends_on:
      mongodb:
        condition: service_healthy
      # kafka-provisioning:
      #   condition: service_completed_successfully

  mongodb:
    image: mongo:6.0.5
    ports:
      - "27017:27017"
    networks:
      - mojaloop-net
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  kafka:
    networks:
      - mojaloop-net
    image: docker.io/bitnami/kafka:3.4.0
    ports:
      - "9092:9092"
    environment:
      # BITNAMI_DEBUG: "yes"
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_CFG_LISTENERS: CONTROLLER://:9093,LISTENER_DOCKER://kafka:29092,LISTENER_EXTERN://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: LISTENER_DOCKER://kafka:29092,LISTENER_EXTERN://localhost:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,LISTENER_DOCKER:PLAINTEXT,LISTENER_EXTERN:PLAINTEXT
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CFG_MESSAGE_MAX_BYTES: 200000000
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@127.0.0.1:9093
      KAFKA_ENABLE_KRAFT: "true"
    healthcheck:
      test: ["CMD" ,"/opt/bitnami/kafka/bin/kafka-broker-api-versions.sh","--bootstrap-server","kafka:9092"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

volumes:
  db-data:
    driver: local